<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Login</title>
  </head>
  <body>
    <form method="post" action="/login">
      <h1>Login Now</h1>
      <input type="text" name="email" placeholder="Email" value="<%= locals.email %>"/>
      <input type="text" name="password" placeholder="password" />
      <p class= "error"><%= locals.message %></p>
      <button type="submit">Login Now</button>
    </form>
  </body>   
</html>
